[submodule "vue"]
	path = vue
	url = https://github.com/jyoushitou/WebSever_Vue.git
[submodule "GRPCGateway"]
	path = GRPCGateway
	url = https://github.com/jyoushitou/WebService_cpp_GRPCGateway.git
[submodule "MySQL"]
	path = MySQL
	url = https://github.com/jyoushitou/cpp_MySQL.git
[submodule "Service"]
	path = Service
	url = https://github.com/jyoushitou/cpp_Service.git
[submodule "CertService"]
	path = CertService
	url = https://github.com/jyoushitou/cpp_CertService.git
[submodule "proto"]
	path = proto
	url = https://github.com/jyoushitou/WebService_cpp_proto.git
[submodule "UserService"]
	path = UserService
	url = https://github.com/jyoushitou/WebService_Rust_UserService.git
